
:root {
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-grey: #EEEEEE;
    --basic-text-color: #283136;
    --basic-white: #FFFFFF;
    --dark-black: #000000;
    --light-grey: #A6A6A6;
    --light-red: #FB565A;
    --grey: #666666;
    --gentle-white: #E1E1E1;
    --crimson-red:  #E74246;
    --dark-crimson-red: #D7373B;

}
/* general */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-color);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-black);
  background-color: var(--basic-white);
  list-style: none;
}

.main-navigation-current a:not([href]) {
  color: var(--light-red);
}

/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-text-color);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-extra-dark);
}

/* promo */

.slides-big-sign {
  font-size: 55px;
  line-height: 55px;
}

.slides-description {
  font-size: 16px;
  line-height: 24px;
}

.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  width: 240px;
  height: 50px;
  border-radius: 3px;
}

/* revios */

.reviews-list {
  list-style: none;
}

.reviews-card, h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-text-color);
}

.reviews-card,
p {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.button,
.reviews-web-button {
  background-color: var(--light-red);
  border-radius: 3px;
  width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white)
}

.reviews-apps-button {
  background-color: var(--basic-green);
  border-radius: 3px;
  width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white)
}

.reviews-presentations-button {
  background-color: var(--basic-yellow);
  border-radius: 3px;
  width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white)
}

/* about */

.about-large-text {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.about-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-statistic dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.main-statistic dd {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

/* map */
.map a {
  text-decoration: none;
  color: var(--basic-text-color);
}

.map h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contact-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
}

.map-contact-button {
  background-color: var(--light-red);
  color: var(--basic-white);
  border-radius: 3px;
  width: 219px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
}

.map-contact-button:hover {
  background-color: var(--crimson-red);
  color: var(--basic-white);
  border-radius: 3px;
  width: 219px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
}

.map-contact-button:active {
  background-color: var(--dark-crimson-red);
  color: var(--basic-white);
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  width: 219px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
}

/* partners */

.sponsors-list img {
  opacity: 0.2;
}

.sponsors-list img:hover {
  opacity: 1;
}

.sponsors-list img:active {
  opacity: 0.1;
}

/* footer socials */

.social-item {
  background: linear-gradient(0deg, var(--gentle-white), var(--gentle-white)), var(--basic-white);
}

.social-item:hover {
  background: linear-gradient(0deg, var(--crimson-red), var(--crimson-red)), var(--basic-white);
}

.social-item:active {
  background: linear-gradient(0deg, var(--dark-crimson-red),var(--dark-crimson-red)), var(--basic-white);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* footer */

.discount-large-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount-normal-text {
  font-size: 16px;
  line-height: 22px;
}


